h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
strong{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-style: italic;
}
i{
    font-style: italic;
}